<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Minimal API com Autenticação JWT</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }

      h1 {
        color: #333;
      }

      h2 {
        color: #666;
        margin-top: 30px;
      }

      p {
        color: #777;
        line-height: 1.5;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Bem-vindo à Página Inicial do Serviço</h1>

    <h2>O que é a Minimal API</h2>
    <p>
      A Minimal API é um recurso do .NET que permite criar APIs de forma mais
      simples e concisa, utilizando uma sintaxe mais enxuta e eficiente. Ela
      proporciona um desenvolvimento rápido e fácil, reduzindo a quantidade de
      código necessária para criar uma API.
    </p>

    <h2>Autenticação via JWT e Perfis de Usuário</h2>
    <p>
      Nossa API utiliza autenticação via JWT (JSON Web Token) para garantir a
      segurança das informações. Cada usuário possui um perfil associado, que
      define suas permissões e acessos dentro do sistema. Isso permite um
      controle granular sobre as funcionalidades disponíveis para cada tipo de
      usuário.
    </p>
      <p>
      Acesse /docs para acessar a documentação
    </p>

    <h2>Sobre o Desenvolvedor Lucas Lima</h2>
    <p>
      Lucas Lima é um desenvolvedor de software apaixonado por criar soluções
      inovadoras e eficientes. Ele é responsável pelo desenvolvimento e
      manutenção deste projeto.
    </p>
    <p>
      Confira o repositório do projeto no GitHub:
      <a href="https://github.com/L1malucas/JwtApi"
        >https://github.com/L1malucas/JwtApi</a
      >
    </p>
    <p>
      Conecte-se com Lucas Lima no LinkedIn:
      <a href="https://www.linkedin.com/in/limalucasdev"
        >https://www.linkedin.com/in/limalucasdev</a
      >
    </p>
  </body>
</html>
